body {
    background-color: #D6FFE9;
}

h1, h2, p {
    text-align: center;
}

h1 {

}

h2 {

}

span.left-heading {
    font-size: large;
}

.left-align {
    text-align: left !important;
    position: absolute;
    left: 30%;
}

.large-text {
    font-size: xx-large;
}

.signature {
    position: absolute;
    left: 40%;
}